<header class="d-flex justify-content-between align-items-center">
    <h1>{{this.name}} Todos</h1>
</header>

<a href="/lm/i/todoAdd/{{this.name}}/{{this.id}}/new/" class="btn"> Add {{this.name}} todos</a>