<h1>New Life-Minded Folder</h1>

<form action="/newLMF/" method="POST"
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="name" class="form-control" value="{{this.name}}">
    </div>

    <input type="submit" value="Submit" class="btn"/>
</form>
    <a href="/lm" class="btn">Cancel</a>