<h1>Edit {{this.name}}</h1>

<form action="/lm/i/edit/{{this.name}}/{{this.id}}?_method=POST" method="POST">
    <div class="form-group">
        <label for="name">Title:</label>
        <input type="text" id="name" name="name" class="form-control" required value="{{this.name}}">
    </div>

    <div class="edit-links">
    <button type="submit" value="Update Mind Files" class="btn">Update file</button>
    </div>
</form>
    <a href="/lm/i" class="btn">Cancel</a>