<header class="d-flex justify-content-between align-items-center">
    <h1>{{this.name}} LifeFolder</h1>
</header>

<a href="/lm/i/view/{{this.name}}/{{this.id}}/new/" class="btn"> Add {{this.name}} Sub Folder</a>
